$displayFlex: flex;
$justifyContentCenter: center;
$colorBlack: #000;

.loader {
  display: $displayFlex;
  justify-content: $justifyContentCenter;
  margin-top: 20%;
}

.wrapper-items {
  display: $displayFlex;
  justify-content: $justifyContentCenter;
}

.wrapper-items__items {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 7% 0;
  padding: 20px;
}

.wrapper-items__items-rebuild {
  display: grid;
  margin: 7% 0px;
  padding: 20px;
}

.wrapper-items__list-items {
  display: $displayFlex;
  justify-content: $justifyContentCenter;
  align-items: center;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  margin: 20px;
  padding: 30px;
  width: auto;

  transition: 1s;
  transform: scale(1.0);

  cursor: pointer;
  list-style: none;


  &:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.wrapper-items__wrapper-ability {
  display: $displayFlex;
  color: $colorBlack
}

.wrapper-items__item-name {
  font-weight: bold;
  color: $colorBlack;
}

.wrapper-items__wrapper-ability .wrapper-items__item-ability {
  margin-right: 5px;
}

.wrapper-items__item-img {
  width: 150px;
  height: 150px;
}

.wrapper-items__notification-rebuild .fa {
  font-size: 20px;
  padding-right: 10px;
  line-height: 1.9em;
}

.wrapper-items__notification-rebuild {
  display: $displayFlex;
  justify-content: $justifyContentCenter;
  position: fixed;
  line-height: 2.3em;
  background-color: #000;
  color: #fff;
  border: 2px solid greenyellow;
  border-radius: 10px;
  margin: 5%;
  width: 300px;
  height: 40px;
  z-index: 9999;
  animation: item-hidden 3s infinite;
  opacity: 1;

  @keyframes item-hidden {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.wrapper-items__wrapper-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 100px;
}

.wrapper-items__scroll-button .fa {
  font-size: 20px;
}

.wrapper-items__scroll-button {
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: 2px solid greenyellow;
  outline: none;
  border-radius: 50%;
  transition: all 0.5s;

  &:hover {
    transform: rotateX(40deg);
    transition: all 0.5s;
  }
}

// --- ANIMATION ON BUTTON ---
.wrapper-items__button-rebuild {
  width: 180px;
  height: 50px;
  margin-top: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: fixed;
  z-index: 0;
  border-radius: 15px;
}

.wrapper-items__button-rebuild:disabled {
  opacity: 0.3;
}

.wrapper-items__button-rebuild:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.wrapper-items__button-rebuild:active {
  color: #000
}

.wrapper-items__button-rebuild:active:after {
  background: transparent;
}

.wrapper-items__button-rebuild:hover:before {
  opacity: 1;
}

.wrapper-items__button-rebuild:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}